<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" action="https://192.168.33.157:5000/logout">
        <div style="display: flex; flex-direction: column; align-items: center; width: 500px;">
            <h1>Username e password inseriti correttamente 👏👏👏👏👏</h1>
            <button>
                <h3>Logout</h3>
            </button>
        </div>

    </form>

</body>

</html>